.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.btn {
  padding: 10px 20px;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
  box-shadow: inset 0px 0px 8px white;
}

.prev {
  background-color: #f44336;
  color: white;
}

.next {
  background-color: #4caf50;
  color: white;
}

.prev:hover {
  background-color: red;
}

.next:hover {
  background-color: green;
}
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 431px) {
  .btn {
    padding: 7px 17px;
    font-size: 1rem;
  }
}
