.search-form {
  display: flex;
  width: 100%;
  max-width: 90vw;
  height: 60px;
  margin: 20px auto;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

.search-form input {
  font-size: 1.6rem;
}

.search-input {
  flex: 1;
  padding: 12px 16px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.search-button {
  padding: 12px 20px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: rgb(159, 103, 0);
}

@media (max-width: 431px) {
  .search-form {
    margin-top: 40px;
  }
  .search-form input {
    font-size: 1rem;
  }

  .search-button {
    padding: 7px 12px;
  }
}

@media (max-width: 325px) {
  .search-form {
    height: 50px;
    margin-top: 40px;
  }
  .search-form input {
    padding: 0px 9px;
    font-size: 0.8rem;
  }

  .search-input {
    padding: 0px 9px;
  }

  .search-button {
    padding: 0px 9px;
    font-size: 0.8rem;
  }
}
