.footer {
  background: linear-gradient(to right, #3c3c3c, #000000);
  color: white;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  width: 100%;
  position: sticky;
  top: 100vh;
  bottom: 0px;
  margin-top: 100px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin: 0px 100px;
  position: relative;
}

.footer-logo {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.social-icon {
  font-size: 22px;
  color: white;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #ff9800;
  transform: scale(1.2);
}

.footer-text {
  font-size: 18px;
  opacity: 0.8;
}

@media (max-width: 600px) {
  .footer-logo {
    display: none;
  }

  .footer-social {
    display: none;
  }

  .footer-text {
    white-space: nowrap;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
